/* Web-specific styles */

#root,
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root > div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f4f6;
}

#root > div > div {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}
