rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Consenti a un utente autenticato di leggere il proprio documento nella collezione 'tecnici'.
    // Questa regola è essenziale per verificare i permessi dopo il login.
    match /tecnici/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
    }
    
    // Per default, tutte le altre operazioni di lettura e scrittura sul database sono negate.
    // Aggiungere qui altre regole specifiche se necessario.
  }
}