name: Deploy Web to Firebase Hosting

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Install Dependencies
        run: npm install

      - name: Build Web App
        run: npx expo build:web
      
      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '''${{ secrets.GITHUB_TOKEN }}'''
          firebaseServiceAccount: '''${{ secrets.FIREBASE_SERVICE_ACCOUNT_RISO_APP }}'''
          projectId: riso-app